/* styles.css */

.card {
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .card:hover {
    background-color: #c2c0c0;
    color: #080808;
  }
  
  .card-button {
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .card-button:hover {
    background-color: #4caf50;
    color: rgb(70, 69, 69);
  }
  /* Estilos CSS */
.card:focus {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); /* Sombra cuando la tarjeta está seleccionada */
  border: 2px solid #4CAF50; /* Borde verde cuando la tarjeta está seleccionada */
}

  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .card-element {
    animation: fadeIn 0.5s ease;
  }
  /* styles.module.css */

.hoveredCard {
  transform: scale(1.1); /* Escala la tarjeta al 110% cuando el mouse está sobre ella */
  transition: transform 0.3s ease; /* Agrega una transición suave para la animación */
}
